@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.logo__title {
    font-size: 46px;
    font-weight: 400;
    color: #3a4d5c;
    font-family: 'Open+Sans:wght@300';
}

.logo__text {
    text-transform: none;
}

.footer {
    color: #ffffff;
    background: #3a4d5c;
    border-top: 3px solid #999;
}

.footer {
    color: #ffffff;
    background: #3a4d5c;
    border-top: 3px solid #999;
}