@import “fonts.css”;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');

.logo__title, H1 {
    font-size: 46px;
    font-weight: 100;
    color: #3a4d5c;
    font-family: 'Open Sans';
}

.logo__tagline {
    display: inline-block;
    font-family: 'Open Sans Condensed';
    font-style: normal;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1;
    color: #ff8800;
    border-top: 1px solid #ebebeb;
}

.menu__btn,
.menu__list {
    background: #3a4d5c;
}

.menu__btn {
    color: #ffffff;
}

.logo__text {
    text-transform: none;
}

.footer {
    color: #ffffff;
    background: #3a4d5c;
    border-top: 3px solid #999;
}

.footer {
    color: #ffffff;
    background: #3a4d5c;
    border-top: 3px solid #999;
}

