<!-- Event snippet for Contact us via  website conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
    function gtag_report_conversion(url) {
      var callback = function () {
        if (typeof(url) != 'undefined') {
          window.location = url;
        }
      };
      gtag('event', 'conversion', {
          'send_to': 'AW-988104989/SNNZCL2cs5gYEJ2SldcD',
          'event_callback': callback
      });
      return false;
    }
</script>
    
<form name="book-me" method="POST" data-netlify="true">
    <p>
        <input type="text" name="name" placeholder="Your name.." / required>
    </p>
    <p>
        <input type="text" name="practice-name" placeholder="Practice name.."/ required>
    </p>
    <p>
        <input type="email" name="email" placeholder="Your email.."/ required>
    </p>
    <p>
        <input type="tel" name="phone" placeholder="Phone number.."/ required>
    </p>
    <p>
        <input type="url" name="website" placeholder="Your website.."/ pattern="https://.*">
    </p>
    <p>
        <textarea name="message" placeholder="Your message.."></textarea>
    </p>
    <p>
        <input type="submit" value="Send" onclick="gtag_report_conversion()">
    </p>    
</form>
  
