<form name="book-me" method="POST" data-netlify="true">
    <p>
        <input type="text" name="name" placeholder="Your name.." />
    </p>
    <p>
        <input type="text" name="practice-name" placeholder="Practice name.."/>
    </p>
    <p>
        <input type="email" name="email" placeholder="Your email.."/>
    </p>
    <p>
        <input type="tel" name="phone" placeholder="Phone number.."/>
    </p>
    <p>
        <textarea name="message" placeholder="Your message.."></textarea>
    </p>
    <p>
        <input type="submit" value="Send">
    </p>    
</form>
  
